{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<h2 class="govuk-heading-m">Get help if you're in debt</h2>
<p class="govuk-body"> <a href="https://www.gov.uk/debt-advice" class="govuk-link">Get free debt advice</a></p>
<p class="govuk-body"> <a href="https://www.gov.uk/report-loan-shark" class="govuk-link">Report a loan shark</a> </p>

<h2 class="govuk-heading-m">Options for dealing with and paying off your debts</h2>
<p class="govuk-body"> <a href="https://www.gov.uk/pay-off-debts" class="govuk-link">Options for dealing with your debts</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/options-for-paying-off-your-debts" class="govuk-link">Options for paying off your debts</a> </p>

<h2 class="govuk-heading-m">Dealing with your debts</h2>
<p class="govuk-body"> <a href="https://www.gov.uk/repay-manage-benefit-owed" class="govuk-link">Repay and manage benefit money you owe</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/bills-benefits" class="govuk-link">Manage deductions from your benefits to pay debts and bills</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/respond-money-claim" class="govuk-link">Respond to a money claim</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/county-court-judgments-ccj-for-debt" class="govuk-link">County court judgments for debt</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/respond-to-court-claim-for-money" class="govuk-link">Respond to a court claim for money</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/pay-court-funds-office" class="govuk-link">Pay money into the Court Funds Office</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/debt-payments-from-your-wages" class="govuk-link">Having debt repayments taken from your wages</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/your-rights-bailiffs" class="govuk-link">Bailiff powers when they visit your home</a> </p>


<h2 class="govuk-heading-m">Applying to become bankrupt or being made bankrupt</h2>
<p class="govuk-body"> <a href="https://www.gov.uk/get-help-insolvency-service" class="govuk-link">Get help from the Insolvency Service</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/bankruptcy" class="govuk-link">Applying to become bankrupt</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/find-an-insolvency-practitioner" class="govuk-link">Find an insolvency practitioner</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/contact-official-receiver" class="govuk-link">Contact an official receiver</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/being-made-bankrupt" class="govuk-link">Being made bankrupt</a> </p>

<h2 class="govuk-heading-m">What to do if you're owed money</h2>
<p class="govuk-body"> <a href="https://www.gov.uk/options-if-youre-owed-money" class="govuk-link">Options if you're owed money</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/late-commercial-payments-interest-debt-recovery" class="govuk-link">Late commercial payments: charging interest and debt recovery</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/make-court-claim-for-money" class="govuk-link">Make a court claim for money</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/get-money-from-court-funds-office" class="govuk-link">Get money that's been paid into the Court Funds Office</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/wind-up-a-company-that-owes-you-money" class="govuk-link">Wind up a company that owes you money</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/apply-to-bankrupt-someone" class="govuk-link">Apply to bankrupt someone who owes you money</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/register-creditor-bankruptcy" class="govuk-link">Register as a creditor in a bankruptcy or liquidation</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/claiming-money-or-property-from-dissolved-company" class="govuk-link">Claiming money or property from a dissolved company</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/possession-claim-online-recover-property" class="govuk-link">Possession Claim Online: recover property</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/recover-debt-from-eu" class="govuk-link">Recover debt from an EU country</a> </p>


<h2 class="govuk-heading-m">Complaints and objections</h2>
<p class="govuk-body"> <a href="https://www.gov.uk/check-claims-company-registered" class="govuk-link">Check if a claims company is registered</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/complain-about-claims-company" class="govuk-link">Complain about a claims company</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/complain-about-someone-bankrupt" class="govuk-link">Complain about someone who's bankrupt</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/object-to-a-limited-company-being-struck-off" class="govuk-link">Object to a limited company being struck off</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/complain-company" class="govuk-link">Complain about a limited company</a> </p>
<p class="govuk-body"> <a href="https://www.gov.uk/complain-about-insolvency-practitioner" class="govuk-link">Complain about an insolvency practitioner</a> </p>
{% endblock %}



