
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype built using the GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Please <a href="draft-page-for-review">review the new version of the Court claims, debt and bankruptcy GOV.UK at this link</a>. 
      </p>
      <p>
        In the interest of speed, I didn't build the header of the page (the part that says 'Court claims, debt and bankruptcy'), but that section has not been edited as part of this work. You can see it on the live site - <a href="https://www.gov.uk/browse/tax/court-claims-debt-bankruptcy">Court claims, debt and bankruptcy</a>.
      </p>

    </div>
  </div>

{% endblock %}
